/* header--mobile.css */

.header__menu--mobile {display: none;}

@media screen and (max-width: 767px) {

	/* customizing default menu */
	.header__menu__item {
		margin-right: 0;
		background-color: #fff;
	}
	.header__menu__link {
		display: none;
	}
	.header__menu__link--current {
		display: block;
		margin-right: -36px;
	}
	.header__menu__link__label--current {
		display: inline-block;
		position: relative;
		padding-right: 18px;
	}
	.header__menu__link__label--current::after {
		content: '';
		position: absolute;
		right: 0;
		top: calc(50% - 2px);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #f33c57 transparent transparent transparent;
	}

	/* mobile menu */
	.header.is-open {
		border-bottom: none;
	}
	.header__menu--mobile.is-open {
		display: block;
		top: 72px;
		/*transform: translateY(72px);*/
		box-shadow: 0 30px 30px rgba(220,220,220,.1);
	}

	.header__menu--mobile {
		display: none;
		position: absolute;
		padding: 18px 0;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		line-height: 36px;
	}
	.header__menu--mobile .header__menu__item {
		display: block;
	}
	.header__menu--mobile .header__menu__link {
		display: block;
		font-size: 14px;
		line-height: 36px;
		text-align: center;
		border: none;
	}
	.header__menu--mobile .header__menu__link--current {
		margin-right: 0;
		margin-right: 0;
	}
	.header__menu--mobile .header__menu__link__label--current {
		padding-right: 0;
	}
	.header__menu--mobile .header__menu__link__label--current::after {
		display: none;
	}
}
