/* header.css */
body {
	padding-top: 70px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 18px;
	height: 70px;

	position: absolute;
	z-index: 1000;
	top: 0;
	width: calc(100% - 36px); /* 18px left/right padding */
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.header {
		padding: 0 28px;
		width: calc(100% - 56px); /* 28px left/right padding */
	}
}
@media screen and (min-width: 1024px) {
	.header {
		padding: 0 70px;
		width: calc(100% - 140px); /* 70px left/right padding */
	}
}
.header__logo {
	display: flex;
	text-decoration: none;
}
.header__logo__img {
	display: inline-block;
	width: 36px;
	height: 46px;
}
.header__logo__text {
	display: none;
}
@media screen and (min-width: 1024px) {
	.header__logo__text {
		display: inline-block;
		margin-left: 13px;
		font: 800 22px/46px 'Montserrat', sans-serif;
		text-transform: uppercase;
		color: #0c0c0c;
	}
}

.header__nav {
	line-height: 70px;
}
.header__nav__list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.header__nav__item {
	display: inline-block;
	margin-right: 2rem;
}
.header__nav__link {
	display: inline-block;
	font: 600 14px/70px 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #b8b7bc;
	border-bottom: 2px solid transparent;
	transition: color .3s, border-bottom-color .3s;
}
.header__nav__link:hover,
.header__nav__link--current {
	color: #f33c57;
	border-bottom-color: #f33c57;
}
