.o-add-goal {

}

.o-add-goal__btn {
	position: fixed;
	bottom: 18px;
	right: 18px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f63954;
	border: none;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	z-index: 1000;
}
@media screen and (min-width: 768px) {
	.o-add-goal__btn {
		bottom: 30px;
		right: 30px;
	}
}

.o-add-goal__overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(100,100,100,.2);
	transition: .3s opacity ease-out, .3s background-color ease-out;
	z-index: 1001;
}
.js-add-goal__overlay.is-hidden {
	visibility: hidden;
	opacity: 0;
	background-color: transparent;
	width: 0;
	height: 0;
}
.o-add-goal__modal {
	position: fixed;
	width: calc(100% - 100px);
	top: 20%;
	left: 20px;
	transition: .3s opacity ease-out;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(200,200,200,.75);
	padding: 30px;
	z-index: 1002;
}
@media screen and (min-width: 460px) {
	.o-add-goal__modal {
		width: 400px;
		left: calc(50% - 230px);
	}
}
.js-add-goal__modal.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.o-add-goal__modal__title {
  font: 600 22px/1 'Montserrat',sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #34323b;
  margin: 0 auto 20px;
}
.o-add-goal__modal__form {
	overflow: hidden;
	max-width: 100%;
}
.o-add-goal__modal__input {
 	display: block;
	font: 14px/1.4 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #9a9d9e;
  padding: 7px 11px;
  border: 2px solid #e9edee;
  margin: 4px 0 8px;
  width: calc(100% - 26px); /* (11px padding + 2px border) * left/right */
}
.o-add-goal__modal__textarea {
	height: 6em;
}
.o-add-goal__modal__submit {
	font: 14px/2 'Montserrat',sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #f63954;
	border: none;
	width: 60px;
	float: right;
	border-radius: 1px;
	margin: 4px;
	cursor: pointer;
}
