.o-avatar {
	border-radius: 50%;
	overflow: hidden;
}
@media screen and (max-width: 767px) {
	.o-avatar {
		min-width: 69px;
		min-height: 69px;
		width: 69px;
		height: 69px;
		position: absolute;
		top: 0;
		left: 18px; /* 18px padding */
	}
}
@media screen and (min-width: 768px) {
	.o-avatar {
		min-width: 141px;
		min-height: 141px;
		width: 141px;
		height: 141px;
		margin-right: 19px;
		flex: 0 0 141px;
	}	
}
@media screen and (min-width: 1024px) {
	.o-avatar {
		margin-right: 29px;
	}	
}

.o-avatar__img {
	max-width: 100%;
}