@media screen and (max-width: 767px) {
	.o-social-icons {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.o-social-icons {
		display: inline-flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.o-social-icons__icon:not(:last-child) {
		margin-right: 20px;
	}
}

/* if there's space, icons are placed alongside the name via js/social-icons.js */
.js-social-icons--top {
	position: absolute;
	left: 0;
	top: 6px;
}

.o-social-icons__link__icon {
	fill: #b2b6bc;
  fill-rule: evenodd;
  opacity: 0.5;
  transition: opacity .2s ease-out;
}
.o-social-icons__link:hover .o-social-icons__link__icon {
	opacity: 1;
}
.o-social-icons__link--facebook {}
.o-social-icons__link--twitter {}
.o-social-icons__link--instagram {}
.o-social-icons__link--pinterest {}
.o-social-icons__link--linkedin {}