.profiles__search {
	height: 70px;
}
.profiles__search .timeline__search {
	width: 100%;
	border-bottom: 1px solid #d8dadd;
}
.profiles__search .timeline__search__input {
	margin-top: 3px;
	width: calc(100% - 16px); /* 16px zoom icon padding-left */
	line-height: 70px;
}