/* timeline__item.css */

@media screen and (min-width: 1024px) {
	.timeline__item {
		width: calc(50% - 9px);
		align-self: flex-end;
	}
	.timeline__item:nth-child(even) {
		align-self: flex-start;
	}
}

.timeline__item__intro {
	margin-top: 40px;
	padding: 28px 18px 18px;
	border: 1px solid #e9edee;
	position: relative;
}

@media screen and (min-width: 768px) {
	.timeline__item__intro {
		margin: 30px;
		padding: 35px 30px 20px;
	}
	.timeline__item__intro:first-child {
		margin-top: 60px;
	}
}

.timeline__item__intro::before {
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 18px;
	height: 18px;
	border: 2px solid #e9edee;
	background-color: #fff;
	top: -12px;
	left: calc(50% - 10px);
}
.timeline__item__intro--full::before {
	content: "✓";
	text-align: center;
	color: #fff;
	background-color: #e9edee;
}

@media screen and (min-width: 768px) {
	.timeline__item__intro::before {
		left: -50px;
		top: calc(50% - 10px);
	}
}
@media screen and (min-width: 1024px) {
	.timeline__item:nth-child(odd) .timeline__item__intro::before {
		left: -54px;
		top: calc(50% - 10px);
	}
	.timeline__item:nth-child(even) .timeline__item__intro::before {
		left: auto;
		right: -48px;
		top: calc(50% - 10px);
	}
}

/* top right corner dots */
.timeline__item__intro::after {
	position: absolute;
	content: url(../images/three-dots.svg);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	top: 25px;
	right: 25px;
	cursor: pointer;
	display: block;
}
@media screen and (min-width: 768px) {
	.timeline__item__intro::after {
		top: 32px;
		right: 35px;
	}
}

.timeline__item__title {
	font: 700 22px/1 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #34323b;
	margin: 0;
}
@media screen and (max-width: 767px) {
	.timeline__item__title {
		max-width: 60%;
	}
}
@media screen and (min-width: 768px) {
	.timeline__item__title {
		font-size: 24px;
	}
}

.timeline__item__description {
	font-size: 14px;
	line-height: 20px;
	color: #34323b;
	margin: 15px 0;
}

.timeline__item__progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.timeline__item__steps {
	display: inline-block;
	font: 14px 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #9a9d9e;
}
.timeline__item__steps__label {
	display: inline-block;
	margin-right: 2px;
}
.timeline__item__steps__bar {
	margin: 0 -1px;
	display: inline-block;
}

@media screen and (max-width: 767px) {
	.timeline__item__progress-bar {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.timeline__item__progress-bar {
		flex-grow: 1;
		margin: 0 20px;
		height: 6px;
		border-radius: 8px;
		background-color: #e1e1e1;
	}
	.timeline__item__progress-bar::-webkit-progress-bar {
		height: 6px;
		border-radius: 8px;
		background-color: #e1e1e1;
	}
	.timeline__item__progress-bar::-moz-progress-bar {
		height: 6px;
		border-radius: 8px;
		background-color: #e1e1e1;
	}
	.timeline__item__progress-bar::-webkit-progress-value {
		border-radius: 8px 0 0 8px;
		height: 6px;
		background-color: #5fcf21;
	}
	.timeline__item__progress-bar::-moz-progress-value {
		border-radius: 8px 0 0 8px;
		height: 6px;
		background-color: #5fcf21;
	}
	.timeline__item__progress-bar::-ms-fill {
		border-radius: 8px 0 0 8px;
		height: 6px;
		background-color: #5fcf21;
	}

	.timeline__item__progress-bar--red::-webkit-progress-value {
		background-color: red;
	}
	.timeline__item__progress-bar--red::-moz-progress-value {
		background-color: red;
	}
	.timeline__item__progress-bar--red::-ms-fill {
		background-color: red;
	}
}


.timeline__item__switch-view {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	font: 14px 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #9a9d9e;
	padding: 5px;
	border: none;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	width: 125px;
}
.timeline__item__switch-view::after {
	display: inline-block;
	content: url(../images/arrow--up.svg);
	transform: rotate(180deg);
	width: 15px;
	height: 20px;
	margin-left: 10px;
	/*transition: transform .3s ease-out;*/
}
.timeline__item__switch-view::before {
	line-height: 20px;
	content: 'Show more';
	animation-duration: .5s;
	animation-name: fade;
	animation-iteration-count: 1;
}
.timeline__item__switch-view.is-open::after {
	transform: rotate(0deg);
	align-self: baseline;
}
.timeline__item__switch-view.is-open::before {
	content: 'Show less';
	animation-duration: .5s;
	animation-name: fadeIn;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	from {
		opacity: .5;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: .5;
	}
	to {
		opacity: 1;
	}
}